body {
	background-color: #2b2b2b;
	height: 100%;
}

html{
	height: 100%;
}

#frame{
	height: 100%;
}

#mainContent{
	position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%,-50%);
}

#panelShelf{
	margin: 1%;
    padding: 1%;
    background-color: rgba(134, 122, 122, 0.8);
    border: 1px solid #111315;
}

#titleShelf{
	margin: 1% 1% 0 1%;
    padding: 1%;
    background-color: rgba(134, 122, 122, 0.8);
    border: 1px  solid #111315;
}

#bookList{
	overflow-y: auto;
	height: 50vh;
	margin: 0 1% 1% 1%;
    padding: 1%;
    background-color: rgba(134, 122, 122, 0.8);
   	border-style: solid;
   	border-color:#111315;
    border-width: 0 1px 1px 1px;
}



.navbar-static-top {
	margin-bottom: 19px;
}

.box:nth-of-type(even) {
	background-color: #A8C4EF;
	color: black;
}

.box:nth-of-type(odd) {
	background-color: #f9f9f9;
	color: black;
}

.boxLight {
	background-color: #f9f9f9;
}
.box {
	border: 1px solid #00;
}

.imgInside{
	background-image:url(#{resource['img:reception.jpg']});
}

.imgLibrarian{
	background-image:url(#{resource['img:librarian.jpg']});
}

.imgShelfs{
	background-image:url(#{resource['img:shelfs.jpg']});
}

.imgDoorFree{
	background-image:url(#{resource['img:doorFree.jpg']});
}

.imgDoorLocked{
	background-image:url(#{resource['img:doorLocked.jpg']});
}

.imgPaper{
	background-color:white;
	margin:3%;
	border: 1px solid gray;
}

.container{
	padding:2%;
}

.booksFrame{
	background-color: rgba(255,255,255,0.8);
	border: 1px solid #5c646b;
	border-radius: 10px;
}

#loadAccount{
	min-height:620px;
}

#createAccount{
	min-height:710px;
}

div.background{
     padding:7%;
     background-repeat:no-repeat;
	 background-position:center;
	 border:1px solid gray;
	 border-radius: 10px;
	 background-size:cover
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	width: 100%;
  	height: auto;
  	border-radius: 10px;
	background-size:cover
}

.pointer {
	cursor: pointer;
}

ul {
  list-style-type: square;
}

.dialog_left{
	background-color: rgba(255, 238, 204, 0.9);
	padding:10px; 
	border:2px solid #805500;
	border-radius: 10px;
	margin:0;
	margin-top:10px;
}

.dialog_right{
	background-color: rgba(217, 237, 249, 0.9);
	padding:10px;
	border:2px solid #2a5772;
	border-radius: 10px;
	margin:0;
	margin-top:15px;
}

.dialog_right_librarian{
	background-color: rgba(234, 222, 142, 0.9);
	padding:10px;
	border:2px solid #67492b;
	border-radius: 10px;
	margin:0;
	margin-top:15px;
}

.nopadding{
	padding: 0 !important;
}

.nomargin{
	margin: 0 !important;
}

.width100{
	width:100%;
}

.error{
	color:red;
}

#createAccount input[type="text"]{
	margin-bottom: 3px;
	background-color: transparent;
	border: none;
	border-bottom: 1px dashed black;;
}
