body {
	background-color: #2b2b2b;
}

.navbar-static-top {
	margin-bottom: 19px;
}

.box:nth-of-type(even) {
	background-color: #A8C4EF;
	color: black;
}

.box:nth-of-type(odd) {
	background-color: #f9f9f9;
	color: black;
}

.boxLight {
	background-color: #f9f9f9;
}
.box {
	border: 1px solid #00;
}

.imgInside{
	background-image:url(#{resource['img:reception.jpg']});
}

.imgLibrarian{
	background-image:url(#{resource['img:librarian.jpg']});
}

.imgPaper{
	background-image:url(#{resource['img:paper.jpg']});
	margin:3%;
	border: 1px solid gray;
}

.container{
	padding:2%;
}

div.background{
     padding:7%;
     background-repeat:no-repeat;
	 background-position:center;
}


.tpad10 {
	padding-top: 10px;
}

.bpad10 {
	padding-bottom: 10px;
}

.bline {
	height: 50px;
	vertical-align: middle;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 100%;
  	height: auto;
}

.pointer {
	cursor: pointer;
}

ul {
  list-style-type: square;
}

.dialog_left{
	background-color: rgba(255, 238, 204, 0.9);
	padding:10px; 
	border:2px solid #805500;
	border-radius: 10px;
	margin:0;
	margin-top:10px;
}

.dialog_right{
	background-color: rgba(217, 237, 249, 0.9);
	padding:10px;
	border:2px solid #2a5772;
	border-radius: 10px;
	margin:0;
	margin-top:15px;
}

.nopadding{
	padding: 0 !important;
}

.nomargin{
	margin: 0 !important;
}

.width100{
	width:100%;
}

.error{
	color:red;
}
